.content {
    width: 100vw;
    height: max-content;
    margin-top: 100px;
    background-color:rgb(248, 247, 245);
    box-shadow: 1px 1px 5px 2px rgba(70, 23, 97, 0.1);

    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;

}
@media (max-width: 768px) {
    .content {

    }


}



.content_box {
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 5px 2px rgba(70, 23, 97, 0.1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 30px;

    transition: 0.2s ease-in-out;

    position: inherit;
}
@media (max-width: 768px) {
    .content_box {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin: 10px;
    }



}

.content_box:hover {
    background-color: brown;
    color: burlywood;
    width: 220px;
    height: 220px;
    border-radius: 110px;
    margin: 10px;

}
@media (max-width: 768px) {
    .content_box:hover {
        width: 110px;
        height: 110px;
        border-radius: 55px;
        margin: 5px;

    }



}
.content_box_head {
    font-family: 'Ubuntu', sans-serif;
    color: rgba(70, 23, 97, 0.3);
    font-size: 20px;
    margin-top: 5px;

}
@media (max-width: 768px) {
    .content_box_head {

        font-size: 10px;
        margin-top: 3px;
    
    }
}
